body {
margin: 0;
font-family: Arial, sans-serif;
background: radial-gradient(circle at top, #0f172a, #020617);
color: white;
}


.contact {
max-width: 500px;
margin: 120px auto;
background: rgba(255,255,255,0.05);
padding: 40px;
border-radius: 20px;
}


input, textarea {
width: 100%;
margin-top: 10px;
padding: 10px;
border-radius: 10px;
border: none;
}


button {
margin-top: 15px;
padding: 10px;
width: 100%;
border: none;
border-radius: 20px;
background: #22d3ee;
cursor: pointer;
}